body {
  background-color: #999999;
}

textarea {
  width: 400px;
  height: 150px;
}

button.big {
  margin-top: 15px;
  padding: 12px 24px;
  font-size: 1rem;
}

input[type="file"] {
  background-color: gray;
}

code {
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
}